<table mat-table [dataSource]="dataSource" 
    matSort matSortActive="arrivalDate" matSortDirection="desc"  (matSortChange)="announceSortChange($event)" 
    class="saved-flights-table">

    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.user }} </td>
    </ng-container>

    <ng-container matColumnDef="airline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by airline">Airline</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.airline }} </td>
    </ng-container>
    
    <ng-container matColumnDef="flightNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by flight number">Flight Number</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.flightNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="arrivalDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by arrival date">Arrival Date</th>
        <td mat-cell *matCellDef="let flight"> {{ displayDate(flight.arrivalDate) }} </td>
    </ng-container>

    <ng-container matColumnDef="arrivalTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by arrival time">Arrival Time</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.arrivalTime }} </td>
    </ng-container>

    <ng-container matColumnDef="numOfGuests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number of guests">Number of Guests</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.numOfGuests }} </td>
    </ng-container>
    
    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comments">Comments</th>
        <td mat-cell *matCellDef="let flight"> {{ flight.comments }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<app-splash *ngIf="splashActive"></app-splash>