.header-row {
    margin-bottom: 20px;
}

.button {
    text-align: right;
    width: 100%;
}

.title {
    text-align: left;
    width: 100%;
    font-weight: 700;
}

.refresh-button {
    margin-right: 20px;
    text-align: center;
    padding-right: 5px;
}

refresh-icon {
    width: 100%;
}

.add-flight-button {
    margin-right: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    display: inline;
}

mat-icon {
    height: 100%;
    width: 100%;
}

.flight-icon {
    font-size: 70px;
    display: inline;
}