.header-row {
    margin-bottom: 20px;
}

.button {
    text-align: right;
    width: 100%;
}

.title {
    text-align: left;
    width: 100%;
    font-weight: 700;
}

.flight-grid {
    overflow-x: scroll;
}

.add-flight-button {
    margin-right: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}
