/* You can add global styles to this file, and also import other style files */

html, body { margin: 0; padding: 0; height: 100vh; }
body { 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500; 
    background-color: rgba(63,81,181,.85);
}
